<h1>Hello <%= @user.name %>,</h1>
<p>
    Here is your shopping list for <%= @recipe.title %>:
</p>
<br>
<ul>@recipe.ingredients.each do |ing|
    <li><%= ing.quantity %><%= ing.measure %> <%= ing.name %></li>
end</ul>

<p>Thank you for using What's Cookin. Enjoy your meal!</p>